.sky {
	background-image: url(../../assets/data/08/01/2309.png);
	width: 224px;
	height: 39px;
	top: 0;
	position: absolute;
}

.ground {
	background-image: url(../../assets/data/08/01/2318.png);
	width: 224px;
	height: 97px;
	top: 39px;
	position: absolute;
}
