<app-char-view-short placement=1>1</app-char-view-short>
<app-char-view-short placement=2>2</app-char-view-short>
<app-char-view-short placement=3>3</app-char-view-short>
<app-char-view-short placement=4>4</app-char-view-short>
<app-playground></app-playground>
