.main-block {
	background-image: url(../../assets/data/01/02/0265.png);
	position: absolute;
	width: 77px;
	height: 37px;
}

.charPanelPosition1 {
	left: 0;
}

.charPanelPosition2 {
	left: 81px;
}

.charPanelPosition3 {
	left: 162px
}

.charPanelPosition4 {
	left: 243px;
}
