/* You can add global styles to this file, and also import other style files */
body {
	background-color: darkolivegreen;
}

div {
	display: block;
}

app-root {
	transform: scale(2);
	position: relative;
	margin: 150px auto;
}

app-root, .loading, .intro {
	display: block;
	background-color: black;
	width: 320px;
	height: 200px;
}

/* Loading image */
.loading {
	background-image: url(/assets/data/05/00/0174.png);
}

app-playground {
	width: 224px;
	height: 136px;
	display: block;
	position: absolute;
	top: 40px;
}
